.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/Background.jpg') no-repeat 50%/cover;
    padding-top: 205px;
    &__button {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
    }
    &__link {
        color: #000;
        &:hover{
            color: #000;
            text-decoration: none;
        }
    }
    &__subtitle {
        position: relative;
        z-index: 1;
        @include before_circle;
    }
}

 