.title {
  font-size: 36px;
  width: 535px;
  font-weight: bold;
  font-weight: 700;
  line-height: 60px;
  padding-top: 10px;
}
.name {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.who_I {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
